body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}
.body{
    background-color: whitesmoke;
    margin:0 20px;
    border-left: 2px solid rgba(211, 211, 211, 0.404);
    border-right: 2px solid rgba(211, 211, 211, 0.404);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    border-bottom: 2px solid rgba(209, 196, 196, 0.486);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 40%;
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgba(137, 218, 253, 0.596);
    gap: 100px;
    padding: 30px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}
.profile_img{
    display: flex;
    justify-content: center;
}
.profile_img img{
    border-radius: 50%;
}