body{
    text-align: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29kaW5nfGVufDB8fDB8fHww);repeat:none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}
.nav-links {
  
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color:red;
}
.submit{
    border: none;
    color: aliceblue;
    background-color: blueviolet;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius:15px;

}

.submit:hover{
    background-color: rgb(245, 141, 6);
    transform: translateY(-2px);
}

