body{
    text-align: center;
    background-color:#1B1B1B ;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    margin-bottom: 10px;
}
.nav-links {
  
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-left: 900px;
}
.nav-links a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color:red;
}
.submit{
    border: none;
    color: aliceblue;
    background-color: blueviolet;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius:15px;

}

.submit:hover{
    background-color: rgb(245, 141, 6);
    transform: translateY(-2px);
}
p,h1,h2{
    color: #ffff;
}
.profile-photo{
    float: right;
}
#about{
    padding-top: 500px;

}
h1{
    font-family: sans-serif;
    font-size: bold;
}
#btn1{
    background-color: red;
    width: 75px;
    height: 25px;
    border-top: red;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 100px;
}
#btn1:hover{
    background-color:white;
}

