body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}
.body{
    background-color: whitesmoke;
    margin:0 20px;
    border-left: 2px solid rgba(211, 211, 211, 0.404);
    border-right: 2px solid rgba(211, 211, 211, 0.404);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: whitesmoke;
    border-bottom: 2px solid rgba(209, 196, 196, 0.486);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 40%;
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgba(151, 222, 253, 0.486);
    gap: 100px;
    padding: 30px;
    margin-bottom: 100px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    transition: transform 0.3s ease;
}
.description h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
.description span{
   color: rgb(4, 89, 247);
}
.description p{
    font-size: 0.9em;
    display: flex;
    align-self: flex-start;
}
.description a{
    text-decoration: none;
    color: white;
    background-color: rgb(4, 89, 247);
    font-weight:normal;
    padding: 4px 7px;
    border-radius: 5px;
    margin-top: 10px;
    align-self: flex-start;
}
.description a:hover{
    transform: scale(1);
}
.profile_img{
    display: flex;
    justify-content: center;
}
.profile_img img{
    border-radius: 50%;
}
.about_me{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 30px;
    margin-bottom: 100px;

}
#about{
    margin-top: 100px;
}
#about h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin-bottom: 5px;
}
.my_journey{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    max-width: 500px;
}
.my_journey h3{
    margin-bottom: 0;
    align-self: flex-start;
}
.skill{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    max-width: 350px;

}
.skill h3{
    align-self: flex-start;
}
.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


.mini{
    background-color: rgb(203, 204, 204);
    padding: 1px 5px;
    border-radius: 10px;
    font-size: small;
    gap: 20px;
}
.project-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 120px;
}
#project h2{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.project1{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 10px;
}

.project1 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
}
.project2{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 10px;
}
.project2 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
}
.project3{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    max-width: 25%;
    padding: 10px;
}
.project3 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
}
.project4{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 10px;
}
.project4 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
    
}
.project5{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 10px;
}
.project5 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
}
.project6{
    background-color: whitesmoke;
    box-shadow: 10px 15px 25px rgba(0,0,0,0.19);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 10px;

}
.project6 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 1% 30%;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(151, 222, 253, 0.486);
    padding: 70px;
    border-bottom: 2px solid rgba(209, 196, 196, 0.486);
}
.getin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.getin input{
    color: white;
    border: gray;
    border-radius: 1px;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
}
.getin a{
    text-decoration: none;
    color: white;
    background-color: rgb(4, 89, 247);
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}
footer{
    background-color:whitesmoke;
    padding: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
}
.footer p{
    margin-bottom: 5px;
}